@import "tailwindcss";
@config "../tailwind.config.js";

/* Custom Base Styles */
@layer base {
  body {
    background-color: #0f172a;
    color: #cbd5e1;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #0f172a;
}
::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #475569;
}
